.pulse:hover {
    animation-name: pulse;
    animation-duration: 3s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
}

@keyframes pulse {
    25% {
        padding: 2rem;
    }
    50% {
        padding: 1.8rem;
    }
    75% {
        padding: 2rem;
    }
    100% {
        padding: 1.8rem;
    }
}